@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
  --font-color: #222;
  --background: #69c;
}

body, html {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--background);
}

.container {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(102 153 204 / 80%);
  width: 50%;
}

.hero {
  display: none;
}

@media only screen and (max-width: 840px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
    background-image: none;
    background-size: unset;
  }

  .textContainer {
    width: 100%;
    margin: 0;
    padding: 2rem 1rem;
  }

  .hero {
    display: block;
    width: 100%;
  }
}

.heading {
  font-size: 3.125rem;
  font-weight: 700;
  color: var(--font-color);
  margin-bottom: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

.heading2 {
  font-size: 2.25rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

.heading3 {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--font-color);
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.text {
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--font-color);
  text-align: center;
}

.emailButton {
  margin-top: 2.3rem;
  margin-bottom: 2.3rem;
  border-radius: 0.5rem;
  background-color: var(--background);
  color: var(--font-color);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1.25rem;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid var(--font-color);
}

.emailButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.emailButton span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.emailButton:hover span {
  padding-right: 25px;
}

.emailButton:hover span::after {
  opacity: 1;
  right: 0;
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 2rem;
  }

  .heading2 {
    font-size: 1.5rem;
  }

  .heading3 {
    font-size: 1.2rem;
  }

  .text {
    font-size: 1rem;
  }

  .emailButton {
    padding: 1rem;
    font-size: 1rem;
  }
}

.socialContainer {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  margin-top: 2rem;
}

.icon {
  width: 1.875rem;
  height: 1.875rem;
  fill: var(--font-color);
}

.icon:hover {
  fill: #ccc;
  transition-duration: .5s;
  transition-timing-function: ease;
}
